.dashboard {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
        'aside header'
        'aside main'
        'aside footer';
    height: 100vh;
}

header {
    grid-area: header;
    background-color: aqua;
}

aside {
    grid-area: aside;
    background-color: aquamarine;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: antiquewhite;
}

section.overview-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

section.chart-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas: 
        'chart overview'
        'chart overview';
    grid-gap: 10px;
}

.chart {
    grid-area: chart;
    background-color: beige;
}

.chart-overview {
    grid-area: overview;
    background-color: azure;
}